<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    <customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
		</assemblies></compilation>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="mail.gmail.com" port="587" userName="kuldeepsawant89@gmail.com" password="k.sawant@123"/>
			</smtp>
		</mailSettings>
	</system.net>
  <connectionStrings>
    <add name="constr" connectionString="Server=e42f408a-96b8-4160-8424-a3260098156c.sqlserver.sequelizer.com;Database=dbe42f408a96b841608424a3260098156c;User ID=bijothhtumkjiceq;Password=EPKXfxQKCq8gYRd4KqgcpvSFjGhnx2Pn5S7W2qYLKUeDsk3eyDTe8ixj5dNEpCmK;"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="HomePage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
 
</configuration>
